<!--
*
* Put your username in the right places!
*
-->
<footer class="site-footer">

  <div class="wrapper">



    <div id="contact_card" class="card">
  	<section class="tab">
  		<div class="title"><i class="fa fa-envelope"></i>Contact</div>
  		<div class="content">
  			<div class="contacts"><a href="mailto:user@mail.net"><i class="fa fa-envelope"></i>&nbsp; E-Mail</a></div>
  			<div class="contacts"><a href="https://plus.google.com/+username" target="_blank"><i class="fa fa-google-plus"></i>&nbsp; Google+</a></div>
  			<div class="contacts"><a href="https://twitter.com/username" target="_blank"><i class="fa fa-globe"></i>&nbsp; Twitter</a></div>
  			<hr>
  			<div class="contacts"><a href="http://github.com/username" target="_blank"><i class="fa fa-github"></i>&nbsp; Code</a></div>

  		</div>
  	</section>
  </div>

  <small>User name <a style="color: #008080" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC</a> year</a></small>
  </footer>
